<mat-toolbar color="primary" class="padding-top-8">
    <div *ngIf="isLoggedInStatus$ | async">
        <button
                mat-icon-button
                aria-label="Menu icon"
                (click)="toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <a routerLink="/books" class="white-color decoration-none">Book Store</a>

    <span class="header-spacer"></span>
    <div *ngIf="isLoggedInStatus$ | async">
        <div *ngIf="counter$ | async as counter; else noneCounter">
            <a [matBadge]="counter"
               matBadgePosition="before"
               matBadgeSize="small"
               matBadgeColor="warn"
               routerLink="/cart"
               class="white-color mr-20">
                <i class="material-icons">shopping_cart</i>
            </a>
        </div>
    </div>

    <div *ngIf="isLoggedInStatus$ | async">
        <button class="account-button text-center d-block" [matMenuTriggerFor]="menu">
            <i class="material-icons">account_box</i>
        </button>

        <mat-menu #menu="matMenu" class="text-center">
            <mat-nav-list>
                <a mat-flat-button (click)="logOut()"
                   class="width-100">Logout
                </a>
            </mat-nav-list>
        </mat-menu>
    </div>

    <ng-template #noneCounter>
        <a routerLink="/cart" class="white-color mr-20">
            <i class="material-icons">shopping_cart</i>
        </a>
    </ng-template>
</mat-toolbar>